---
version: '3'
services:
  ansible_service:
    image: williamyeh/ansible:centos7
    container_name: ansible-here
    working_dir: /ansible/provisionning
    command: ansible-playbook -i inventory.yml -vv playbook.yml
    volumes:
      - "$PWD:/ansible/provisionning"
    logging:
      driver: "json-file"
      options:
        max-size: "10000k"
        max-file: "10"
